<!DOCTYPE html>
<html lang="en">

	<!-- Victor Andreoni CS 4241
		Assignment 3
		
		This is the server-enabled implementation of assignment 3. This template has the page
		to be displayed when users access the website. It is being used as an erb template, 
		which will be displayed by the ruby file at the root of the directory.
	 -->

	<head>
		<meta charset="utf-8">
		
		<title>Assignment 3</title>
		<meta name="description" content="Assignment 3">
		<meta name="author" content="Victor Andreoni">
		
		<link rel="stylesheet" type="text/css" href="<%= url('style.css') %>" />
		<script src="<%= url('/scripts/util.js') %>" type="text/javascript"></script>
		
	</head>

	<body onload="setup()">
		<div id="topbar">
			<header id="page-title-holder">
				<h1 id="page-title">Victor Andreoni - CS4241 - Assignment 3</h1>
			</header>
		</div>
		
		<div id="content"  style="min-height: 600px;">
		  <form id="game_form">
		      <p style="text-align: center" id="game_instructions"> </p>
		      <div class="input_holder">
		          <!-- onKeyDown returns false if enter is pressed to prevent the form from being submitted since submission
		              is being handled by validate_answer() -->
		          <input type="text" id="secret_value" tabindex="1" onkeydown="processKeyDown(); return event.keyCode != 13;"/> 
		          <input type="button" id="guess_button" tabindex="2" onclick="validate_answer()" value="Guess!" />
		      </div>
		      <p style="text-align: center" id="message"> </p>
		      <div class="input_holder">
		          <!-- Set play again buttons to hidden until the player wins -->
		          <input type="button" id="yes_button" value="Yes" onclick="repeat(true)" style="visibility: hidden" /> <input type="button" id="no_button" value="No" onclick="repeat(false)" style="visibility: hidden" />
		      </div>
		  </form>
		</div>
		
		<div>
			<hr />
			<footer>
				<p style="text-align: center">
					&copy; Copyright  by Victor Andreoni
				</p>
			</footer>
		</div>
	</body>
</html>